form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 12px;
  margin: 12px;
  width: 80%;
  max-width: 600px;
}

.MuiFormControl-root {
  flex: 1;
}